<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon -->
    <link rel="shortcut icon" href="../static/icons/icon-512x512.png" sizes="512x512">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>FizzBuzz Api</title>
</head>
<body>
    <div class = "container">
        {% block body %}
            <!-- content -->
        {% endblock body %}
    </div>
</body>
</html>